.box {
  padding: 20px;
  color: #000000;
  background: #fff;
  position: relative;
  grid-template-columns: repeat(auto-fit, 100px);
}

.text-block {
  color: #000000;
  position: relative;
  grid-template-columns: repeat(auto-fit, 100px);
  width: 100%;
  height: auto;
}

.row {
  padding: 20px;
  background:#ededed;
  margin:10px;
  position: relative;
}

#title {
  font-family:'Times New Roman', Times, serif;
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 60px;
  color: #20b2aa;
  text-align: center;
  font-weight: bold;
}

.navbar-brand {
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  background-color: #20b2aa;
  color:#ffffff;
  margin: 10;
}

.navbar-light {
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color:#ffffff;
  margin: 10;
}

#navbarSupportedContent {
  text-align: right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  background-color: #ffffff;
}



#paragraph1,
#paragraph2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 30px;
}


#single_chart
{
  float:left;
}



h4 { 
  font-family:'Times New Roman', Times, serif;
  padding: 20px 0;
  margin: 0;
  font-size: 40px;
  color: #20b2aa;
  font-weight: bolder;
}


p { 
  font-family:'Times New Roman', Times, serif;
  padding: 20px 0;
  margin: 0;
  font-size: 25px;
  color: #000;
}

.responsive {
  width: 100%;
  height: auto;
}

#chart1 {
  border: 5px solid #20b2aa;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

